<a href="https://colab.research.google.com/github/Danila1485/Python_Tasks/blob/Second/Practical_Task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**№1.1** На вход подается строка, состоящая из одного числа. Напишите программу, которая удваивает его.

In [23]:
x = 646
print(2*x)

1292

**№1.2** Вводится число. Вывести его квадрат.

In [24]:
x1 = 23
print(x1**2)

529

**№1.3** Вводятся часы, минуты и секунды. Вывести, сколько секунд прошло с полуночи.
Вывести, какая часть суток прошла (число от 0 до 1).

In [12]:
h = 19
m = 54
s = 12
time = h*60*60 + m*60 + s
print(' seconds:', time, '\n', 'day part:', round(time/(60*60*24), 4))

 seconds: 71652
 day part: 0.8293

**№2.1** Вводится число. Вывести, оканчивается ли оно на цифру 7, не используя приведение к строке и операции над строками

In [25]:
x2 = 345437
if x2%10==7:
  print('TRUE')
else:
  print('FALSE')

TRUE

**№2.2** Вводятся коэффициенты уравнения ax2+bx+c=0. Вывести его корни(не забыть проверить, что a не равно 0)

In [33]:
a,b,c = 6, 16, -26
#a,b,c = int(input()), int(input()), int(input())
if a == 0:
  print(-c/b)
else:
  D = b**2 - 4*a*c
  if D == 0:
    print(round(-b/2*a), 4)
  elif D>0:
    print(round((-b+D**0.5)/2/a, 4), 'и', round((-b-D**0.5)/2/a, 4))
  else:
    print('no solutions')

1.1387 и -3.8054

**№2.3** Вводятся три числа. Вывести максимум из них.

In [34]:
a1,b1,c1 = 4,14,5
#a1,b1,c1 = int(input()), int(input()), int(input())
print(max(a1,b1,c1))

14

**№3.1** Вводится число. Вывести среднее арифметическое (с точностью до двух знаков после запятой) тех чисел в диапазоне от единицы до введённого числа, которые делятся 5 или являются четными.

In [38]:
n = 23
count=0
summ=0
for i in range(1,n):
  if i%5==0 or i%2==0:
    summ+=i
    count+=1
print(round(summ/count, 2))

11.69